<div class="card w-75" style="background-color: #3c3c3c;">
  <div class="card-block">
    <!--<div class="row" style="margin-left: -35px;">-->
    <div class="row" style="margin-left: 1%;">
      <input class="form-control col input" type="text" placeholder="Macro function" ng-model="row_arr['function']">
    </div>
  </div>
</div>
<style>
  .row {
    margin-left: 1%;
    background-color: #3c3c3c;
  }
  .row input {
    margin: 3px;
  }
  .card-block {
    background-color: #3c3c3c;
  }
  .card {
    border: 1px #3c3c3c solid;
    background-color: #3c3c3c;
  }
</style>
