<div class="card w-75" style="background-color: white;">
  <div class="card-block">
    <!--<div class="row" style="margin-left: -35px;">-->
    <div class="row" style="margin-left: 1%;"> <!-- TODO : More work -->
      <input class="form-control col input" type="text" placeholder="File" ng-model="row_arr['file']">
      <input class="form-control col input" type="text" placeholder="Sheet" ng-model="row_arr['sheet']">
      <div class="divider" style="height: 5px;"></div>
      <input class="form-control col input" type="text" placeholder="Column" ng-model="row_arr['column']">
      <input class="form-control col input" type="text" placeholder="Object" ng-model="row_arr['object']">
    </div>
  </div>
</div>
