<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ForgotPassword</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Reset Password</h2>
        <h5>Enter your email address below. An email will be sent to you shortly allowing you to reset your password</h5>
        <form>
        <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Enter email address" required>
        </div>
        </form>
        <a href="#"><button type="submit" class="btn btn-primary">Submit</button></a>
        <p></p>
        <a href="TestClientLogin.html"><p>Return to sign in page</p></a>
    </div>
</body>
</html>