
<div class="container">
  <h2>Client Login</h2>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" ng-model="username" placeholder="Enter username" name="user">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" ng-model="password" placeholder="Enter password" name="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="remember"> Remember me</label>
  </div>
  <p style="color: red" id="error" ng-bind="error"></p>
  <input type="button" class="btn btn-primary" value="Login" ng-click="doLogin()">
  <p></p>
  <a href="#"><p>Forgot your password?</p></a>
</div>

