<div ng-include="'views/navbar.html'"></div>
<br/>
<header class="header">Configure {{profile_name}}</header>
  <!--<div class="modal-body">-->
  <div class="container">
    <div style="margin-left: 7%;" class="container" ng-repeat="(section, column) in columns">
      <div class="container-fluid">
        <div class="navbar-header h4" style="color: white;">{{section}}
          <button class="btn btn-default navbar-btn" type="button" ng-click="addColumn(section)">Add</button>
        </div>
      </div>
      <form class="form-inline" ng-repeat="(row_name, row_arr) in column track by $index"
            style="
              margin: 5px;
              background-color: #3c3c3c;
              ">
        <div class="btn-group" style="background-color: #3c3c3c;">
          <button style="color: white;" class="btn btn-danger" ng-click="removeColumn(row_name, section)">Remove</button>
          <button class="btn btn-default" ng-repeat="column_option in column_types"
                  ng-click="modifyColumn(section, row_name, 'type', column_option)">{{column_option}}</button>
          <br/>
          <br/>
          <div class="row" style="margin-left: 10px; background-color: #3c3c3c;">
            <h5 style="color: white;" class="col-sm-4">{{row_arr['type']}}</h5>
            <input type="text" class="form-control col-sm-2" placeholder="Enter column name"
                   ng-model="columns[section][row_name]['name']" style="margin-left: 10px;">
          </div>
          <div style="background-color: #3c3c3c;" ng-include="'views/input-types/' + row_arr['type'] + '.html'"></div>
        </div>
      </form>
    </div>
  </div>
  <br/>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="test()">Test</button>
</div>
