<!--<div id="myModal" class="modal fade" role="dialog">-->
<div class="jumbotron">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Configure {{profile_name}}</h4>
        <!-- TODO : Drop down for configs -->
        <br/>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="input-group" ng-repeat="column in columns">
            <div class="input-group-btn">
              <div class="dropdown">
                <button class="btn btn-secondary btn-xs dropdown-toggle" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Type
                </button>
                <div class="dropdown-menu">
                  <button ng-repeat="type in column_types" id="{{type}}"
                          class="dropdown-item btn btn-link">{{type}}</button>
                </div>
              </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with dropdown button"
                   placeholder="{{column}}">
            <button class="btn btn-danger btn-xs" ng-click="removeColumn(column)">Remove</button>
          </div>
          <br/>
          <button class="btn btn-block" ng-click="addColumn()">Add</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
