<div ng-include="'views/navbar.html'"></div>
 <div class=" container">
   <h1 class="profile_header">Black Forest Monthly</h1>
   <br/>
   <br/>
   <form class="form-group">
     <div class="dropdown">
       <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{selected_option}}
       </button>
       <div class="dropdown-menu">
           <button ng-repeat="option in option_dd" id="{{option}}"
                   class="dropdown-item btn btn-link" ng-click="toggle_option(option)">{{option}}</button>
       </div>
     </div>
     <br/>
     <div class="list-group form-group profile-input-list">
       <div ng-repeat="file_name in files" class="list-group-item file_upload_row">
         <input type="checkbox" ng-model="files_tb[file_name]">
         <span id="{{file_name}}" class="custom-file-control">{{file_name}}</span>
         <input ng-model="myFile" style="display: none;" name="myFile">
         <label class="btn btn-default btn-file" ng-disabled="!files_tb[file_name]">
           Browse
           <input type="file" ng-model="garbage"
                  file-model="{{file_name}}" style="display: none;" name="{{file_name}}" onchange="update_field(this);"
                  class="custom-file-input" ng-disabled="!files_tb[file_name]">
         </label>
       </div>
     </div>

     <div class="list-group form-group profile-input-list">
       <div class="form-group row">
         <div ng-repeat="input_name in inputs" class="col-sm-4">
           <!--<label for="{{input_name}}">{{input_name}}:</label>-->
           <input type="text" class="form-control" id="{{input_name}}" placeholder="{{input_name}}">
         </div>
       </div>
     </div>

     <button id="submit_btn" class="btn btn-secondary btn-lg btn-block profile_submit" ng-click="uploadFile()">
       {{submit_ready}}</button>
     <br/>
     <button id="publish_btn" class="btn btn-secondary btn-lg btn-block profile_submit"
             ng-click="publish_report()">{{publish_ready}}</button>
   </form>
   <script>
     function update_field(elem) {
         console.log(elem.value);
         document.getElementById(elem.name).innerHTML = elem.value.substring(12);
         input = elem;
     }
   </script>
 </div>
