 <div class=" container">
   <h1 class="profile_header">Black Forest Monthly</h1>
   <br/>

   <form class="form-group">
     <div class="list-group form-group profile-input-list">
       <div ng-repeat="file_name in files" class="list-group-item file_upload_row">
         <span class="custom-file-control">Choose {{file_name}}</span>
         <input ng-model="myFile" style="display: none;" name="myFile">
         <label class="btn btn-default btn-file">
           Browse
           <input type="file" file-model="myFile" style="display: none;" name="myFile" class="custom-file-input">
           <button ng-click="uploadFile()">Upload</button>
         </label>
       </div>
     </div>
     <button class="btn btn-secondary btn-lg btn-block profile_submit" ng-click="">Publish Report</button>
   </form>
 </div>
