<div class="container sign-up-container">
  <h2>Sign Up</h2>
  <div>
    <div class="row">
      <div class="form-group col-sm-6 col-md-6 col-lg-6">
        <label for="email">Email Address:</label>
        <input class="form-control" id="email" name="email" ng-model="email"
               placeholder="Enter email address" required>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-lg-6">
        <label for="email_confirm">Confirm Email Address:</label>
        <input class="form-control" id="email_confirm" name="email_confirm" ng-model="email_confirm"
               placeholder="Re-enter email address" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12 col-md-12 col-lg-12">
        <label for="username">Username:</label>
        <input class="form-control" id="username" name="username" ng-model="username"
               type="text" placeholder="Enter username" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6 col-md-6 col-lg-6">
        <label for="password">Password:</label>
        <input class="form-control" id="password" name="password" ng-model="password"
               type="password" placeholder="Enter password" required>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-lg-6">
        <label for="password_confirm">Confirm Password:</label>
        <input class="form-control" id="password_confirm" name="password_confirm" ng-model="password_confirm"
               type="password" placeholder="Re-enter password" required>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-lg-6">
        <label for="special">Special:</label>
        <input class="form-control" id="special" name="special" ng-model="special"
               type="text" placeholder="Information specific to the client" required>
      </div>
    </div>
    <p style="color: red" id="error" ng-bind="error"></p>
    <div class="btn-group">
      <button class="btn btn-default" ng-click="register()">Register</button>
      <button class="btn btn-default" ng-click="goToLogin()">Back to Login</button>
    </div>
  </div>
</div>
